.env
__pycache__/
*.py[cod]
/documentation/AAB_mockups.ai
/documentation/AAB_mockups.pdf
/documentation/AAB_mockups_002.ai
/documentation/AAB_mockups_003.ai
/documentation/AAB_mockups_explore_search.pdf
/documentation/icon-10.png
/documentation/screen-recording-sped-up.mov
/documentation/screen-recording.mov